.login-bg{
    background-color: #BDD9FF;
    min-height: 80vh;
}

.login{
    background-color: white;
    border-radius: 10px;
}

.redirect{
    color: navy;
    cursor: pointer;
    font-size: 1.2rem;
}