.contact{
    background-color: #e7e7e7;
}

.contact-img{
    height:500px;
    width:500px;
}

.text-area{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    resize: none;
    transition: all .8s;
    border: none;
}
.text-area:focus{
    background-color: #f4fdf7;
    box-shadow: 0px 0px 10px  rgb(182, 182, 182);
}