.sub-nav-container{
    background-color: #ebe7e7;
    font-weight: 500;
}

.sub-nav{
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0;
}
.sub-nav li{
    display: inline;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    padding: 10px 30px;
    /* margin: 0px 5px; */

    transition: .5s all;
}
.sub-nav li:hover {
    /* background-color: rgb(255, 255, 255); */
    border-bottom: 5px solid black;
}
.highlight{
    background-color: rgb(255, 255, 255);
}