.product-card{
    background-color: #efefef;
    transition: all .5s;
    border-radius: 15px;
}

.product-card:hover{
    background-color: #fff2e3;
}

.discount-price:hover , .original-price:hover{
    cursor: pointer;
}