.product-card{
    background-color: #d4daff;
    border-radius: 15px;
    padding: 0px 5px;
    transition: all .5s;
}

.product-card:hover{
    box-shadow: 0px 0px 10px rgb(197, 196, 196);
    background-color: #fff2e3;
}

.discount-price:hover{
    cursor: pointer;
    animation: tada;
    animation-duration: .8s;
}

.original-price:hover{
    cursor: pointer;
    animation: fadeOutLeft;
    animation-duration: .8s;
}